@{
    ViewBag.Title = "Check File";
}

<h2>Check SharePoint File</h2>

<p>
    <a href="@Url.Action("CheckVersionFile", "File")" class="btn btn-primary">Test CSOM Access</a>
</p>
<p>
    <a href="@Url.Action("CheckVersionFileRest", "File")" class="btn btn-secondary">Test REST API Access</a>
</p>
